body {
    font-family: Arial, sans-serif;
    /* background: #222; */
}

#bgdiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("res/pattern.webp");
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
    animation: zoom 8s ease-in-out infinite;
    
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    /* height: 100vh; */

}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    .videos {
        flex-direction: column;
    }
}


.coolvideos {
    height: 700px;
    display: block;
}

.space {
    margin: 20px;
}

.bodiv {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

* {
    box-sizing: border-box;
}


.sbinning {
    animation: rotate 2s linear infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

@keyframes zoom {
    0% {
        background-size: 400px;
    }

    50% {
        background-size: 1000px;
    }

    100% {
        background-size: 400px;

    }
}

.icon{
    height: 20px;
}

a{
    text-decoration: none;
    color: aqua;
}